src/conf/xml-resources/web-service-references/BranchWebServices/wsdl/localhost_8084/PayportExpressWeb/BranchWebServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://web_services/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://web_services/">
    <xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://136.172.221.198:8084/PayportExpressWeb/BranchWebServices?xsd=2" />
    <xs:element name="deleteBranch" type="tns:deleteBranch" />
    <xs:element name="deleteBranchResponse" type="tns:deleteBranchResponse" />
    <xs:element name="insertNewBranch" type="tns:insertNewBranch" />
    <xs:element name="insertNewBranchResponse" type="tns:insertNewBranchResponse" />
    <xs:element name="selectAllBranches" type="tns:selectAllBranches" />
    <xs:element name="selectAllBranchesResponse" type="tns:selectAllBranchesResponse" />
    <xs:element name="selectBranch" type="tns:selectBranch" />
    <xs:element name="selectBranchResponse" type="tns:selectBranchResponse" />
    <xs:element name="updateBranch" type="tns:updateBranch" />
    <xs:element name="updateBranchResponse" type="tns:updateBranchResponse" />
    <xs:complexType name="insertNewBranch">
        <xs:sequence>
            <xs:element name="branch_name" type="xs:string" minOccurs="0" />
            <xs:element name="address" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="insertNewBranchResponse">
        <xs:sequence />
    </xs:complexType>
    <xs:complexType name="selectAllBranches">
        <xs:sequence />
    </xs:complexType>
    <xs:complexType name="selectAllBranchesResponse">
        <xs:sequence>
            <xs:element name="return" type="ns1:stringArray" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="updateBranch">
        <xs:sequence>
            <xs:element name="arg0" type="xs:int" />
            <xs:element name="operation_status" type="xs:string" minOccurs="0" />
            <xs:element name="branch_name" type="xs:string" minOccurs="0" />
            <xs:element name="address" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="updateBranchResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="selectBranch">
        <xs:sequence>
            <xs:element name="branch_id" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="selectBranchResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="deleteBranch">
        <xs:sequence>
            <xs:element name="arg0" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="deleteBranchResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>