src/conf/xml-resources/web-service-references/BranchWebServices/wsdl/localhost_8084/PayportExpressWeb/BranchWebServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web_services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://web_services/" name="BranchWebServices">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://web_services/" schemaLocation="http://136.172.221.198:8084/PayportExpressWeb/BranchWebServices?xsd=1" />
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://136.172.221.198:8084/PayportExpressWeb/BranchWebServices?xsd=2" />
        </xsd:schema>
    </types>
    <message name="selectAllBranches">
        <part name="parameters" element="tns:selectAllBranches" />
    </message>
    <message name="selectAllBranchesResponse">
        <part name="parameters" element="tns:selectAllBranchesResponse" />
    </message>
    <message name="updateBranch">
        <part name="parameters" element="tns:updateBranch" />
    </message>
    <message name="updateBranchResponse">
        <part name="parameters" element="tns:updateBranchResponse" />
    </message>
    <message name="insertNewBranch">
        <part name="parameters" element="tns:insertNewBranch" />
    </message>
    <message name="insertNewBranchResponse">
        <part name="parameters" element="tns:insertNewBranchResponse" />
    </message>
    <message name="selectBranch">
        <part name="parameters" element="tns:selectBranch" />
    </message>
    <message name="selectBranchResponse">
        <part name="parameters" element="tns:selectBranchResponse" />
    </message>
    <message name="deleteBranch">
        <part name="parameters" element="tns:deleteBranch" />
    </message>
    <message name="deleteBranchResponse">
        <part name="parameters" element="tns:deleteBranchResponse" />
    </message>
    <portType name="BranchWebServices">
        <operation name="selectAllBranches">
            <input wsam:Action="http://web_services/BranchWebServices/selectAllBranchesRequest" message="tns:selectAllBranches" />
            <output wsam:Action="http://web_services/BranchWebServices/selectAllBranchesResponse" message="tns:selectAllBranchesResponse" />
        </operation>
        <operation name="updateBranch">
            <input wsam:Action="http://web_services/BranchWebServices/updateBranchRequest" message="tns:updateBranch" />
            <output wsam:Action="http://web_services/BranchWebServices/updateBranchResponse" message="tns:updateBranchResponse" />
        </operation>
        <operation name="insertNewBranch">
            <input wsam:Action="http://web_services/BranchWebServices/insertNewBranchRequest" message="tns:insertNewBranch" />
            <output wsam:Action="http://web_services/BranchWebServices/insertNewBranchResponse" message="tns:insertNewBranchResponse" />
        </operation>
        <operation name="selectBranch">
            <input wsam:Action="http://web_services/BranchWebServices/selectBranchRequest" message="tns:selectBranch" />
            <output wsam:Action="http://web_services/BranchWebServices/selectBranchResponse" message="tns:selectBranchResponse" />
        </operation>
        <operation name="deleteBranch">
            <input wsam:Action="http://web_services/BranchWebServices/deleteBranchRequest" message="tns:deleteBranch" />
            <output wsam:Action="http://web_services/BranchWebServices/deleteBranchResponse" message="tns:deleteBranchResponse" />
        </operation>
    </portType>
    <binding name="BranchWebServicesPortBinding" type="tns:BranchWebServices">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="selectAllBranches">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="updateBranch">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="insertNewBranch">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="selectBranch">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="deleteBranch">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="BranchWebServices">
        <port name="BranchWebServicesPort" binding="tns:BranchWebServicesPortBinding">
            <soap:address location="http://136.172.221.198:8084/PayportExpressWeb/BranchWebServices" />
        </port>
    </service>
</definitions>