src/conf/xml-resources/web-service-references/TransactionWebServices/wsdl/localhost_8084/PayportExpressWeb/TransactionWebServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://web_services/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://web_services/">
    <xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://136.172.221.198:8084/PayportExpressWeb/TransactionWebServices?xsd=2" />
    <xs:element name="deleteTransaction" type="tns:deleteTransaction" />
    <xs:element name="deleteTransactionResponse" type="tns:deleteTransactionResponse" />
    <xs:element name="insertNewTransaction" type="tns:insertNewTransaction" />
    <xs:element name="insertNewTransactionResponse" type="tns:insertNewTransactionResponse" />
    <xs:element name="payServiceFee" type="tns:payServiceFee" />
    <xs:element name="payServiceFeeResponse" type="tns:payServiceFeeResponse" />
    <xs:element name="selectAllTransactions" type="tns:selectAllTransactions" />
    <xs:element name="selectAllTransactionsResponse" type="tns:selectAllTransactionsResponse" />
    <xs:element name="selectTransaction" type="tns:selectTransaction" />
    <xs:element name="selectTransactionResponse" type="tns:selectTransactionResponse" />
    <xs:element name="sendAmount" type="tns:sendAmount" />
    <xs:element name="sendAmountResponse" type="tns:sendAmountResponse" />
    <xs:element name="withdrawAmount" type="tns:withdrawAmount" />
    <xs:element name="withdrawAmountResponse" type="tns:withdrawAmountResponse" />
    <xs:complexType name="payServiceFee">
        <xs:sequence>
            <xs:element name="arg0" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="payServiceFeeResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="selectTransaction">
        <xs:sequence>
            <xs:element name="control_number" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="selectTransactionResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="selectAllTransactions">
        <xs:sequence />
    </xs:complexType>
    <xs:complexType name="selectAllTransactionsResponse">
        <xs:sequence>
            <xs:element name="return" type="ns1:stringArray" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="insertNewTransaction">
        <xs:sequence>
            <xs:element name="service_fee" type="xs:float" minOccurs="0" />
            <xs:element name="sender_name" type="xs:string" minOccurs="0" />
            <xs:element name="sender_contact_number" type="xs:string" minOccurs="0" />
            <xs:element name="receiver_name" type="xs:string" minOccurs="0" />
            <xs:element name="receiver_contact_number" type="xs:string" minOccurs="0" />
            <xs:element name="amount" type="xs:float" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="insertNewTransactionResponse">
        <xs:sequence />
    </xs:complexType>
    <xs:complexType name="sendAmount">
        <xs:sequence>
            <xs:element name="arg0" type="xs:int" />
            <xs:element name="sender_employee" type="xs:int" minOccurs="0" />
            <xs:element name="branch_sent" type="xs:int" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="sendAmountResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="withdrawAmount">
        <xs:sequence>
            <xs:element name="arg0" type="xs:int" />
            <xs:element name="receiver_employee" type="xs:int" minOccurs="0" />
            <xs:element name="branch_withdrawn" type="xs:int" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="withdrawAmountResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="deleteTransaction">
        <xs:sequence>
            <xs:element name="arg0" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="deleteTransactionResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>