src/conf/xml-resources/web-service-references/AdminWebServices/wsdl/localhost_8084/PayportExpressWeb/AdminWebServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://web_services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://web_services/">
    <xs:element name="adminLogin" type="tns:adminLogin" />
    <xs:element name="adminLoginResponse" type="tns:adminLoginResponse" />
    <xs:complexType name="adminLogin">
        <xs:sequence>
            <xs:element name="email_address" type="xs:string" minOccurs="0" />
            <xs:element name="password" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="adminLoginResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>