src/conf/xml-resources/web-service-references/EmployeeWebServices/wsdl/localhost_8084/PayportExpressWeb/EmployeeWebServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web_services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://web_services/" name="EmployeeWebServices">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://web_services/" schemaLocation="http://136.172.221.198:8084/PayportExpressWeb/EmployeeWebServices?xsd=1" />
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://136.172.221.198:8084/PayportExpressWeb/EmployeeWebServices?xsd=2" />
        </xsd:schema>
    </types>
    <message name="insertNewEmployee">
        <part name="parameters" element="tns:insertNewEmployee" />
    </message>
    <message name="insertNewEmployeeResponse">
        <part name="parameters" element="tns:insertNewEmployeeResponse" />
    </message>
    <message name="selectAllEmployees">
        <part name="parameters" element="tns:selectAllEmployees" />
    </message>
    <message name="selectAllEmployeesResponse">
        <part name="parameters" element="tns:selectAllEmployeesResponse" />
    </message>
    <message name="employeeLogin">
        <part name="parameters" element="tns:employeeLogin" />
    </message>
    <message name="employeeLoginResponse">
        <part name="parameters" element="tns:employeeLoginResponse" />
    </message>
    <message name="selectEmployee">
        <part name="parameters" element="tns:selectEmployee" />
    </message>
    <message name="selectEmployeeResponse">
        <part name="parameters" element="tns:selectEmployeeResponse" />
    </message>
    <message name="updateEmployee">
        <part name="parameters" element="tns:updateEmployee" />
    </message>
    <message name="updateEmployeeResponse">
        <part name="parameters" element="tns:updateEmployeeResponse" />
    </message>
    <message name="deleteEmployee">
        <part name="parameters" element="tns:deleteEmployee" />
    </message>
    <message name="deleteEmployeeResponse">
        <part name="parameters" element="tns:deleteEmployeeResponse" />
    </message>
    <portType name="EmployeeWebServices">
        <operation name="insertNewEmployee">
            <input wsam:Action="http://web_services/EmployeeWebServices/insertNewEmployeeRequest" message="tns:insertNewEmployee" />
            <output wsam:Action="http://web_services/EmployeeWebServices/insertNewEmployeeResponse" message="tns:insertNewEmployeeResponse" />
        </operation>
        <operation name="selectAllEmployees">
            <input wsam:Action="http://web_services/EmployeeWebServices/selectAllEmployeesRequest" message="tns:selectAllEmployees" />
            <output wsam:Action="http://web_services/EmployeeWebServices/selectAllEmployeesResponse" message="tns:selectAllEmployeesResponse" />
        </operation>
        <operation name="employeeLogin">
            <input wsam:Action="http://web_services/EmployeeWebServices/employeeLoginRequest" message="tns:employeeLogin" />
            <output wsam:Action="http://web_services/EmployeeWebServices/employeeLoginResponse" message="tns:employeeLoginResponse" />
        </operation>
        <operation name="selectEmployee">
            <input wsam:Action="http://web_services/EmployeeWebServices/selectEmployeeRequest" message="tns:selectEmployee" />
            <output wsam:Action="http://web_services/EmployeeWebServices/selectEmployeeResponse" message="tns:selectEmployeeResponse" />
        </operation>
        <operation name="updateEmployee">
            <input wsam:Action="http://web_services/EmployeeWebServices/updateEmployeeRequest" message="tns:updateEmployee" />
            <output wsam:Action="http://web_services/EmployeeWebServices/updateEmployeeResponse" message="tns:updateEmployeeResponse" />
        </operation>
        <operation name="deleteEmployee">
            <input wsam:Action="http://web_services/EmployeeWebServices/deleteEmployeeRequest" message="tns:deleteEmployee" />
            <output wsam:Action="http://web_services/EmployeeWebServices/deleteEmployeeResponse" message="tns:deleteEmployeeResponse" />
        </operation>
    </portType>
    <binding name="EmployeeWebServicesPortBinding" type="tns:EmployeeWebServices">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="insertNewEmployee">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="selectAllEmployees">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="employeeLogin">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="selectEmployee">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="updateEmployee">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="deleteEmployee">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="EmployeeWebServices">
        <port name="EmployeeWebServicesPort" binding="tns:EmployeeWebServicesPortBinding">
            <soap:address location="http://136.172.221.198:8084/PayportExpressWeb/EmployeeWebServices" />
        </port>
    </service>
</definitions>