web/WEB-INF/wsdl/localhost_8084/PayportExpressWeb/TransactionWebServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web_services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://web_services/" name="TransactionWebServices">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://web_services/" schemaLocation="http://136.172.221.198:8084/PayportExpressWeb/TransactionWebServices?xsd=1" />
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://136.172.221.198:8084/PayportExpressWeb/TransactionWebServices?xsd=2" />
        </xsd:schema>
    </types>
    <message name="insertNewTransaction">
        <part name="parameters" element="tns:insertNewTransaction" />
    </message>
    <message name="insertNewTransactionResponse">
        <part name="parameters" element="tns:insertNewTransactionResponse" />
    </message>
    <message name="sendAmount">
        <part name="parameters" element="tns:sendAmount" />
    </message>
    <message name="sendAmountResponse">
        <part name="parameters" element="tns:sendAmountResponse" />
    </message>
    <message name="selectTransaction">
        <part name="parameters" element="tns:selectTransaction" />
    </message>
    <message name="selectTransactionResponse">
        <part name="parameters" element="tns:selectTransactionResponse" />
    </message>
    <message name="selectAllTransactions">
        <part name="parameters" element="tns:selectAllTransactions" />
    </message>
    <message name="selectAllTransactionsResponse">
        <part name="parameters" element="tns:selectAllTransactionsResponse" />
    </message>
    <message name="payServiceFee">
        <part name="parameters" element="tns:payServiceFee" />
    </message>
    <message name="payServiceFeeResponse">
        <part name="parameters" element="tns:payServiceFeeResponse" />
    </message>
    <message name="withdrawAmount">
        <part name="parameters" element="tns:withdrawAmount" />
    </message>
    <message name="withdrawAmountResponse">
        <part name="parameters" element="tns:withdrawAmountResponse" />
    </message>
    <message name="deleteTransaction">
        <part name="parameters" element="tns:deleteTransaction" />
    </message>
    <message name="deleteTransactionResponse">
        <part name="parameters" element="tns:deleteTransactionResponse" />
    </message>
    <portType name="TransactionWebServices">
        <operation name="insertNewTransaction">
            <input wsam:Action="http://web_services/TransactionWebServices/insertNewTransactionRequest" message="tns:insertNewTransaction" />
            <output wsam:Action="http://web_services/TransactionWebServices/insertNewTransactionResponse" message="tns:insertNewTransactionResponse" />
        </operation>
        <operation name="sendAmount">
            <input wsam:Action="http://web_services/TransactionWebServices/sendAmountRequest" message="tns:sendAmount" />
            <output wsam:Action="http://web_services/TransactionWebServices/sendAmountResponse" message="tns:sendAmountResponse" />
        </operation>
        <operation name="selectTransaction">
            <input wsam:Action="http://web_services/TransactionWebServices/selectTransactionRequest" message="tns:selectTransaction" />
            <output wsam:Action="http://web_services/TransactionWebServices/selectTransactionResponse" message="tns:selectTransactionResponse" />
        </operation>
        <operation name="selectAllTransactions">
            <input wsam:Action="http://web_services/TransactionWebServices/selectAllTransactionsRequest" message="tns:selectAllTransactions" />
            <output wsam:Action="http://web_services/TransactionWebServices/selectAllTransactionsResponse" message="tns:selectAllTransactionsResponse" />
        </operation>
        <operation name="payServiceFee">
            <input wsam:Action="http://web_services/TransactionWebServices/payServiceFeeRequest" message="tns:payServiceFee" />
            <output wsam:Action="http://web_services/TransactionWebServices/payServiceFeeResponse" message="tns:payServiceFeeResponse" />
        </operation>
        <operation name="withdrawAmount">
            <input wsam:Action="http://web_services/TransactionWebServices/withdrawAmountRequest" message="tns:withdrawAmount" />
            <output wsam:Action="http://web_services/TransactionWebServices/withdrawAmountResponse" message="tns:withdrawAmountResponse" />
        </operation>
        <operation name="deleteTransaction">
            <input wsam:Action="http://web_services/TransactionWebServices/deleteTransactionRequest" message="tns:deleteTransaction" />
            <output wsam:Action="http://web_services/TransactionWebServices/deleteTransactionResponse" message="tns:deleteTransactionResponse" />
        </operation>
    </portType>
    <binding name="TransactionWebServicesPortBinding" type="tns:TransactionWebServices">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="insertNewTransaction">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="sendAmount">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="selectTransaction">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="selectAllTransactions">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="payServiceFee">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="withdrawAmount">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="deleteTransaction">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="TransactionWebServices">
        <port name="TransactionWebServicesPort" binding="tns:TransactionWebServicesPortBinding">
            <soap:address location="http://136.172.221.198:8084/PayportExpressWeb/TransactionWebServices" />
        </port>
    </service>
</definitions>